* {
  margin: 0;
  padding: 0;
}

header {
  background: #f0f9ff;
  height: 300px;
}

img {
  width: 100%;
  max-width: 550px;
}

.widget {
  position: absolute;
  top: -100px;
  right: 32px;
  width: 300px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

.widget__head {
  height: 150px;
  background: #f2e680;
}

.widget__separator {
  background: #dedede;
  height: 35px;
}

.widget__content {
  background: #ffffff;
  height: 500px;
}

.tab-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  font-family: sans-serif;
}
.tab-wrapper .tab-item,
.tab-wrapper input{display: none;}
.tab-wrapper .tab-item {
  width: 100%;
  max-width: 100%;
  padding: 20px;
  order: 1;
  cursor: default;
}

.tab-wrapper .tab-item .tab-item__content {
  min-height: 494px;
  width: calc(100% - 330px);
}

.tab-wrapper .tab-item .tab-item__added-block {
  margin-top: 20px;
  padding: 20px;
}

.tab-wrapper label{
  cursor: pointer;
  height: 35px;
  line-height: 35px;
  min-width: 50px;
  padding: 8px 20px;
  text-align: center;
  float: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.tab-wrapper .tab-item.description,
.tab-wrapper label.description {
  background-color: #efefef;
}

.tab-wrapper .tab-item.payment,
.tab-wrapper label.payment {
  background-color: #ccccff;
}

.tab-wrapper .tab-item.why,
.tab-wrapper label.why {
  background-color: #ffcccc;
}

.tab-wrapper input:checked + label + .tab-item{display: block;}

.squares {
  display: grid;
  grid-template-columns: repeat(auto-fit, 260px);
  grid-gap: 10px;
  margin-top: 20px;
  justify-content: center;
}

.square {
  width: 260px;
  height: 260px;
  background: #f0f9ff;
}
.column {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.column__line {
  height: 20px;
  background: #c6c6c6;
  border-radius: 5px;
}

@media (max-width: 840px) {
  .widget {
    box-shadow: none;
  }

  .widget__head {
    opacity: 0;
  }
}

@media (max-width: 625px) {
  .widget {
    display: none;
  }

  .tab-wrapper .tab-item .tab-item__content {
    width: 100%;
  }
}
